<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <meta property="og:site_name" content="Lucie Sassiat"/>
        <meta property="og:title" content="Lucie Sassiat"/>
        <meta property="og:url" content="https://www.luciesassiat.com"/>
        <meta property="og:type" content="website"/>
        <meta itemprop="name" content="Lucie Sassiat"/>
        <meta itemprop="url" content="https://www.luciesassiat.com"/>
        <meta name="twitter:title" content="Lucie Sassiat"/>
        <meta name="twitter:url" content="https://www.luciesassiat.com"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="description" content=""/>

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="canonical" href="home/index.html.twig"/>
        <link rel="preconnect" href="https://images.squarespace-cdn.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;0,900;1,400;1,900">
        <link rel="stylesheet" type="text/css"
              href="https://static1.squarespace.com/static/sitecss/5e3ad5f2597c7c5ee13ccf4c/53/55dccafee4b04b8e0d7b6d4d/5e3ad5f2597c7c5ee13ccf64/971/site.css"/>

        <script type="text/javascript" crossorigin="anonymous" defer="true" nomodule="nomodule"
                src="https://assets.squarespace.com/@sqs/polyfiller/1.6/legacy.js"></script>
        <script type="text/javascript" crossorigin="anonymous" defer="true"
                src="https://assets.squarespace.com/@sqs/polyfiller/1.6/modern.js"></script>

        <script crossorigin="anonymous"
                src="https://assets.squarespace.com/universal/scripts-compressed/extract-css-runtime-7250c7600a4116a3-min.fr-FR.js"
                defer></script>
        <script crossorigin="anonymous"
                src="https://assets.squarespace.com/universal/scripts-compressed/extract-css-moment-js-vendor-faebcf39a2773775-min.fr-FR.js"
                defer></script>

        <script crossorigin="anonymous"
                src="https://assets.squarespace.com/universal/scripts-compressed/cldr-resource-pack-25c39a98375c75be-min.fr-FR.js"
                defer></script>

        <script crossorigin="anonymous"
                src="https://assets.squarespace.com/universal/scripts-compressed/common-vendors-stable-d23646aa3fcfb9b2-min.fr-FR.js"
                defer></script>

        <script crossorigin="anonymous"
                src="https://assets.squarespace.com/universal/scripts-compressed/common-vendors-4366cf0f198a6d37-min.fr-FR.js"
                defer></script>

        <script crossorigin="anonymous"
                src="https://assets.squarespace.com/universal/scripts-compressed/common-bfbebdb78cf4829c-min.fr-FR.js"
                defer></script>


        <script data-name="static-context">Static = window.Static || {};
            Static.SQUARESPACE_CONTEXT = {


            };
        </script>
        <script type="module">Squarespace.load(window);</script>



        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" crossorigin="anonymous" defer="true" nomodule="nomodule"
                src="https://assets.squarespace.com/@sqs/polyfiller/1.6/legacy.js"></script>
        <script type="text/javascript" crossorigin="anonymous" defer="true"
                src="https://assets.squarespace.com/@sqs/polyfiller/1.6/modern.js"></script>
    </body>
</html>
